a:hover{
    text-decoration: none;
}
.facebook:hover{
    background-color: #3A5897;
    color: #ffff;
}
.twitter:hover{
    background-color: #36d8e4;
    color: #ffff;
}
.drible:hover{
    background-color: #DD4B80;
    color: #ffff;
}
.google:hover{
    background-color: #E13138;
    color: #ffff;
}
.vimeo:hover{
    background-color: #37C4E7;
    color: #ffff;
}
.pinter:hover{
    background-color:#C32830 ;
    color: #fff;
}
.beha:hover{
    background-color: #045CFA;
    color: #ffff;
}
.link:hover{
    background-color: #0073B1;
    color: #ffff;
}
